# Build System and IDE Files, add more when necessary
.vs/

*CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
install_manifest.txt

# Build files
*.o
*.a
/DSCSTools/DSCSTools
/DSCSTools/DSCSTools.exe
/target/
